// Variables
$color-yellow: #f4d04e;
$color-gray-950: #111;
$color-gray-500: #6b6b6b;
$color-white: #fff;

$font-family: "Figtree", sans-serif;

$spacing-50: 0.25rem;
$spacing-100: 0.5rem;
$spacing-150: 0.75rem;
$spacing-200: 1.5rem;
$spacing-400: 3rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  display: flex;
  min-height: 100vh;
  padding: $spacing-200;
  justify-content: center;
  align-items: center;
  background: $color-yellow;

  @media (max-width: 375px) {
    padding: $spacing-200;
  }
}

.card-container {
  display: flex;
  gap: $spacing-400;
}

.blog-card {
  display: flex;
  width: 100%;
  max-width: 24rem;
  padding: $spacing-200;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-200;
  flex-shrink: 0;
  border-radius: 1.25rem;
  border: 1px solid $color-gray-950;
  background: $color-white;
  box-shadow: 8px 8px 0 0 #000;

  @media(max-width: 375px) {
    padding: $spacing-150;
    gap: $spacing-150;
  }
}

.image-container {
  display: flex;
  align-items: center;
  align-self: stretch;
  border-radius: 0.625rem;
  background: $color-yellow;
  overflow: hidden;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-150;
  align-self: stretch;

  .category-badge {
    display: flex;
    padding: $spacing-50 $spacing-150;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    gap: $spacing-100;
    border-radius: 0.25rem;
    background: $color-yellow;
    color: $color-gray-950;
    font-family: $font-family;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    transition: color 0.3s ease;
  }
  .category-badge:hover {
    color: $color-white;
    cursor: pointer;
  }

  h2 {
    align-self: stretch;
    color: $color-gray-950;
    font-family: $font-family;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    transition: color 0.3s ease;
  }

  h2:hover{
    color: $color-yellow;
    cursor: pointer;
  }

  p {
    align-self: stretch;
    color: $color-gray-500;
    font-family: $font-family;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }
}

.publish-date {
  color: $color-gray-950;
  font-family: $font-family;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.blog-author {
  display: flex;
  align-items: center;
  gap: $spacing-150;

  img {
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    cursor: pointer;
  }

  .author-name {
    color: $color-gray-950;
    text-decoration: none;
    font-family: $font-family;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    transition: color 0.3s ease;
  }

  .author-name:hover {
    color: $color-yellow;
    cursor: pointer;
  }
}
